*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    
}
nav span{
    color: white;
}
nav span a{
    color: white;
    font-weight: bold;
    padding:15px;
    display: inline-block;
}
nav a{
    text-decoration: none;
    color:#FFF;
    font-size: 20px;
}
nav ul{
    display: flex;
    list-style: none;   
}
nav ul li a{
    padding:15px;
    display: inline-block;
}

nav ul li.active{
    background-color: rgb(238, 179, 18);
}
section#hero{
    background-image: url(../images/img.jpg);
    height: calc(100vh - 53px);
    background-size: cover;

    
}
section div.overlay{
    width: 100%;
    height: 100%;
    background-color: #00000096;
    display: flex;
    align-items: center;
    justify-content: center;
}
section .overlay .main-text{
    text-align: center;
    color: #FFF;
    
}
section .overlay .main-text h1,p,button{
    margin-bottom: 20px;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
}
section .overlay .main-text button{
    padding:20px;
    background-color: rgb(37, 37, 36);
    border: none;
    color:#FFF;
    font-size: 15px;
    text-transform: capitalize;
}
section#history{
    height: 400px;
    display: flex;

}
section#history div{
    width: calc(100% / 2);
}
section .left-dir img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section .right-dir{
    background-color: rgb(50, 50, 50);
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px;
    text-align: center;
}
section .right-dir h2,p,button{
    margin-bottom: 10px;
    color: #FFF;
}
section .right-dir button{
    padding:20px;
    background-color: white;
    border: none;
    color: black;
    font-size: 15px;
    text-transform: capitalize;
}
section#services{
    display: flex;
}
section#services .self-serv{
    padding: 30px;
    text-align: center;
}
section#services .self-serv.mid{
    background-color: rgb(224, 159, 73);
}
section#services .self-serv i,h3,p{
    margin-bottom: 10px;
    color: black;
}
footer{
    background-color: rgb(45, 44, 44);
    padding: 15px;
    text-align: center;
}
footer p{
    color: #FFF;
}











